@font-face {
  font-family: 'halis_grblack';
  src: url('./fonts/ahmet_altun_-_halisgr-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Black.ttf) format('truetype');
}

body {
  background-color: red;
  font-family: 'halis_grblack';
}

h1 {
  font-family: 'Roboto';
}